In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data/train1.csv')

In [3]:
data.head()

                                            headline  clickbait
0                                 Should I Get Bings          1
1      Which TV Female Friend Group Do You Belong In          1
2  The New "Star Wars: The Force Awakens" Trailer...          1
3  This Vine Of New York On "Celebrity Big Brothe...          1
4  A Couple Did A Stunning Photo Shoot With Their...          1

In [4]:
data['headline'] = data['headline'].str.replace('[^\w\s]','').str.lower()
data.head()

C:\Users\Asus\AppData\Local\Temp\ipykernel_13860\3067824343.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  data['headline'] = data['headline'].str.replace('[^\w\s]','').str.lower()

                                            headline  clickbait
0                                 should i get bings          1
1      which tv female friend group do you belong in          1
2  the new star wars the force awakens trailer is...          1
3  this vine of new york on celebrity big brother...          1
4  a couple did a stunning photo shoot with their...          1

In [ ]:
data.to_csv('data/clickbait_clean.csv', index=False)